---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/footer.astro';
import Works from '../../layouts/works.astro';
import Download from '../../components/download.astro';
import '../../css/works/anim-hamori.css'
import '../../css/works/hamori.css'
---

<Layout 
    title="HAMORI" 
    ogptitle="HAMORI | 迷った時や悩みたくない時の飲食店決めはHAMORIで" 
    type="website"
    description="飲食店決めをより楽しく簡単にさせる、飲食店決めサポートアプリHAMORIの紹介ページです。"
/>

<main>
    <section class="top js-area">
        <div class="top__inner">
            <ul class="top-pan-list">
                <li class="top-pan-list__item">
                    <a href="" class="top-pan-list__link"></a>
                </li>
            </ul>
            <div class="top-title">
                <div class="top-title__logo">
                    <img class="top-title__icon" src="/images/hamori/logo/hamori-icon-black.svg" alt="">
                    <h2 class="top-title__name">HAMORI</h2>
                    <Download title='HAMORI' category='pdf' href='/download-files/HAMORI.pdf.zip' />
                </div>
                <h3 class="top-title__sub-title">飲食店決めをより楽しく、簡単にさせるサポートアプリ</h3>
            </div>
            <div class="top-container">
                <!-- <div class="top-container__border"></div> -->
                <ul class="top-container__list anim-top__looptext" id="js-top__list">
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <Works/>
    <Footer/>
</main>