---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/footer.astro';
import Works from '../../layouts/works.astro';
import Download from '../../components/download.astro';
import '../../css/works/anim-hamori.css'
import '../../css/works/hamori.css'
---

<Layout 
    title="HAMORI" 
    ogptitle="HAMORI | 迷った時や悩みたくない時の飲食店決めはHAMORIで" 
    type="website"
    description="大学でUI/UXを学んでいる相原立弥の作品「HAMORI」の紹介ページです。"
/>

<main>
    <nav class="pan">
        <ol class="pan-list">
            <li class="pan-list__item">
                <a href="https://www.tat-design22444.com/" class="pan-list__link">トップ</a>
            </li>
            <li class="pan-list__item">
                <a href="https://www.tat-design22444.com/works/hamori/" class="pan-list__link">作品</a>
            </li>
            <li class="pan-list__item">
                HAMORI
            </li>
        </ol>
    </nav>
    <section class="top js-area">
        <div class="top__inner">
            <ul class="top-pan-list">
                <li class="top-pan-list__item">
                    <a href="" class="top-pan-list__link"></a>
                </li>
            </ul>
            <div class="top-title">
                <div class="top-title__logo">
                    <img class="top-title__icon" src="/images/hamori/logo/hamori-icon-black.svg" alt="">
                    <h2 class="top-title__name">HAMORI</h2>
                    <Download title='HAMORI' category='pdf' href='/download-files/HAMORI.pdf.zip' />
                </div>
                <h3 class="top-title__sub-title">飲食店決めをより楽しく、簡単にさせるサポートアプリ</h3>
            </div>
            <div class="top-container">
                <!-- <div class="top-container__border"></div> -->
                <ul class="top-container__list anim-top__looptext" id="js-top__list">
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.webp" alt="HMORIのスタート画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.webp" alt="HAMORIのExpress画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.webp" alt="HAMORIのHamori画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.webp" alt="HAMORIのDeside画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.webp" alt="HAMORIのLetgo画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.webp" alt="HMORIのスタート画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.webp" alt="HAMORIのExpress画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.webp" alt="HAMORIのHamori画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.webp" alt="HAMORIのDeside画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.webp" alt="HAMORIのLetgo画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.webp" alt="HMORIのスタート画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.webp" alt="HAMORIのconnect画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.webp" alt="HAMORIのExpress画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-harmonize.webp" alt="HAMORIのHamori画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-deside.webp" alt="HAMORIのDeside画面" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-complete.webp" alt="HAMORIのLetgo画面" class="top-container__mock">                                
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <Works/>
    <Footer/>
</main>