@use "../root/root.css";

.heading{
    mix-blend-mode: difference;
}

.inner{
    width: 100%;
    padding: 0 8vw;
    @media screen and (min-width:834px) {
        padding: 0 4vw;
    }

    &--header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        @media screen and (min-width:834px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 140px;
            // color: var(--color-white);
        }
    }

    &--footer{
        position: relative;
        text-align: center;
        padding: 20px 0;
    }

    &--hero{
        overflow: hidden;
        // max-width: 1140px;
        margin-inline: auto;
        height: 85vh;
        min-height: 500px;
        @media screen and (min-width:834px) {
            padding: 0 ;
        }
    }
}