:root {
  --color-white: #fff;
  --color-gray: #dadada;
  --color-bg-white: #f3f3f3;
  --color-bg-black: #252528;
  --color-hamori: #7E62EC;
  --color-hov-black: #48484b;
  --color-hov-hamori: #8c77e1;
  --font-size-xxs: 10px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-ms: 20px;
  --font-size-m: 24px;
  --font-size-ml: 32px;
  --font-size-l: 40px;
  --font-size-xl: 60px;
  --font-size-xxl: 100px;
  --font-family-ja: "Noto Sans JP", sans-serif;
  --font-family-en: "Dela Gothic One", cursive;
} 
body {
  overflow-x: hidden;
  background-color: var(--color-bg-white);
}

main {
  position: relative;
  background-color: var(--color-bg-white);
  color: var(--color-bg-black);
  font-family: var(--font-family-ja);
  padding-top: 140px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 96px;
  }
}

.top {
  padding: 0 4vw;
}
@media screen and (max-width: 768px) {
  .top {
    padding: 0;
  }
}
.top__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 96px 0;
  font-family: var(--font-family-en);
  color: var(--color-bg-white);
  background-color: var(--color-bg-black);
  border-radius: 16px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .top__wrapper {
    gap: 16px;
    padding: 64px 0;
    border-radius: 4px;
  }
}
.top__title {
  font-size: var(--font-size-xxl);
}
@media screen and (max-width: 768px) {
  .top__title {
    font-size: var(--font-size-l);
  }
}
.top__sub-title {
  font-size: var(--font-size-s);
}
@media screen and (max-width: 768px) {
  .top__sub-title {
    font-size: var(--font-size-xxs);
  }
}

.course {
  width: 100%;
  margin-inline: auto;
  padding-top: 120px;
}
@media screen and (max-width: 768px) {
  .course {
    padding-top: 80px;
  }
}
.course__title {
  font-size: var(--font-size-m);
  font-family: var(--font-family-en);
}
.course-contents {
  width: 100%;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .course-contents {
    width: 100%;
    padding-top: 40px;
  }
}
.course-contents__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.course-contents__item {
  width: 330px;
  color: var(--color-bg-black);
}
.course-contents__link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.course-contents__title {
  margin-left: 8px;
  font-size: var(--font-size-s);
}
.course-contents__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.blog {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .blog {
    padding-top: 80px;
  }
}
.blog__title {
  font-size: var(--font-size-m);
  font-family: var(--font-family-en);
}
.blog__container {
  width: 100%;
}
.blog-nav {
  width: 100%;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .blog-nav {
    width: 100%;
    padding-top: 40px;
  }
}
.blog-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px 24px;
}
@media screen and (max-width: 768px) {
  .blog-nav__list {
    justify-content: center;
    gap: 8px;
  }
}
.blog-nav__link {
  display: block;
  padding: 8px 16px;
  color: var(--color-bg-black);
  border: 2px solid var(--color-bg-black);
  border-radius: 100px;
}
@media screen and (max-width: 768px) {
  .blog-nav__link {
    font-size: var(--font-size-xs);
    padding: 6px;
    border: 1px solid var(--color-bg-black);
  }
}
.blog-contents {
  width: 100%;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .blog-contents {
    width: 100%;
    padding-top: 24px;
  }
}
.blog-contents__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .blog-contents__list {
    gap: 24px;
  }
}
.blog-contents__item {
  width: calc((100% - 120px) / 4);
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .blog-contents__item {
    width: calc((100% - 80px) / 3);
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .blog-contents__item {
    width: 100%;
    margin-top: 24px;
    border: 1px solid #8a8a8a;
    border-radius: 8px;
  }
}
.blog-contents__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .blog-contents__thumbnail {
    border-radius: 8px 0;
  }
}
.blog-contents__title {
  margin-top: 16px;
  line-height: 1.4;
  font-size: var(--font-size-s);
}
@media screen and (max-width: 768px) {
  .blog-contents__title {
    width: 100%;
    margin-top: 16px;
    padding: 0 8px;
  }
}
.blog-contents__tags {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  color: #8a8a8a;
  font-size: var(--font-size-xs);
}
@media screen and (max-width: 768px) {
  .blog-contents__tags {
    width: 100%;
    margin-top: 8px;
    padding: 0 8px;
  }
}
.blog-contents__tag {
  padding: 4px 8px;
  border: 1px solid #8a8a8a;
  border-radius: 8px;
}
.blog-contents__time {
  display: block;
  margin-top: 8px;
  padding: 0 8px 8px;
  color: #8a8a8a;
  text-align: right;
  font-size: var(--font-size-xs);
}

.active-blog-nav {
  animation: blog-nav-active 0.3s forwards;
}
@keyframes blog-nav-active {
  0% {
    color: var(--color-bg-black);
  }
  100% {
    color: var(--color-white);
    background-color: var(--color-bg-black);
  }
}/*# sourceMappingURL=blog.css.map */