:root {
  --color-white: #fff;
  --color-gray: #8A8A8A;
  --color-link: #4b8ec5;
  --color-bg-white: #f3f3f3;
  --color-bg-black: #252528;
  --color-hamori: #7E62EC;
  --color-hov-black: #48484b;
  --color-hov-hamori: #8c77e1;
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-ms: 20px;
  --font-size-m: 24px;
  --font-size-ml: 32px;
  --font-size-l: 40px;
  --font-size-xl: 60px;
  --font-size-xxl: 100px;
  --font-family-ja: "Noto Sans JP", sans-serif;
  --font-family-en: "Dela Gothic One", cursive;
} 
main {
  position: relative;
  background-color: var(--color-bg-white);
  color: var(--color-bg-black);
  font-family: var(--font-family-ja);
  padding-top: 140px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 96px;
  }
}

.header {
  padding-top: 0;
  font-family: var(--font-family-ja);
}
.header__logo {
  font-family: var(--font-family-ja);
}
.header-mordal {
  background-color: none;
}

.top {
  padding: 0 4vw;
}
@media screen and (max-width: 768px) {
  .top {
    padding: 0;
  }
}
.top__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 64px 4vw;
  font-family: var(--font-family-en);
  color: var(--color-bg-black);
  background-color: var(--color-bg-white);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .top__wrapper {
    padding: 40px 4vw;
    gap: 16px;
  }
}
.top__title {
  position: relative;
  font-size: var(--font-size-xxl);
  color: var(--color-white);
  z-index: 10;
  background-color: transparent;
  mix-blend-mode: difference;
}
.top__title::after {
  content: "TaT-Blog";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-bg-white);
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .top__title {
    font-size: var(--font-size-l);
  }
}
.top__sub-title {
  display: inline-block;
  font-family: var(--font-family-ja);
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .top__sub-title {
    font-size: var(--font-size-xxs);
  }
}

.course {
  width: 100%;
  margin-inline: auto;
  padding-top: 120px;
  color: var(--color-white);
  background-color: var(--color-bg-black);
}
@media screen and (max-width: 768px) {
  .course {
    padding-top: 80px;
  }
}
.course__title {
  font-size: var(--font-size-m);
  font-family: var(--font-family-en);
}
@media screen and (max-width: 768px) {
  .course__title {
    font-size: var(--font-size-ms);
  }
}
.course-contents {
  width: 100%;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .course-contents {
    width: 100%;
    padding-top: 40px;
  }
}
.course-contents__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.course-contents__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  aspect-ratio: 16/9;
  border: 1px solid #393939;
  color: #393939;
}
@media screen and (max-width: 768px) {
  .course-contents__item {
    width: 100%;
  }
}
.course-contents__link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.course-contents__title {
  margin-left: 8px;
  font-size: var(--font-size-s);
}
.course-contents__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.blog {
  padding: 120px 0;
  color: var(--color-white);
  background-color: var(--color-bg-black);
}
@media screen and (max-width: 768px) {
  .blog {
    padding-top: 80px;
  }
}
.blog__title {
  font-size: var(--font-size-m);
  font-family: var(--font-family-en);
}
@media screen and (max-width: 768px) {
  .blog__title {
    font-size: var(--font-size-ms);
  }
}
.blog__container {
  width: 100%;
}
.blog-nav {
  width: 100%;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .blog-nav {
    width: 100%;
    padding-top: 40px;
  }
}
.blog-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .blog-nav__list {
    justify-content: center;
    gap: 8px;
  }
}
.blog-nav__btn {
  display: block;
  padding: 8px 16px;
  color: var(--color-bg-white);
  border: 2px solid var(--color-bg-white);
  border-radius: 100px;
  font-weight: 600;
  transition: all 0.1s;
}
@media screen and (max-width: 768px) {
  .blog-nav__btn {
    font-size: var(--font-size-xs);
    padding: 8px 16px;
    border: 1px solid var(--color-white);
  }
}
@media screen and (min-width: 768px) {
  .blog-nav__btn:hover {
    transform: scale(1.1) rotate(-15deg);
    background-color: var(--color-hamori);
    transition: all 0.2s;
  }
}
.blog-contents {
  width: 100%;
  padding-top: 64px;
}
@media screen and (max-width: 768px) {
  .blog-contents {
    width: 100%;
    padding-top: 24px;
  }
}

.active-blog-nav {
  animation: blog-nav-active 0.3s forwards;
}
@keyframes blog-nav-active {
  0% {
    color: var(--color-bg-white);
  }
  100% {
    color: var(--color-bg-black);
    background-color: var(--color-bg-white);
    border: 2px solid var(--color-bg-white);
  }
}

.out-blog-nav {
  animation: blog-nav-out 0.3s forwards;
}
@keyframes blog-nav-out {
  0% {
    color: var(--color-bg-black);
    background-color: var(--color-bg-white);
    border: 2px solid var(--color-bg-white);
  }
  100% {
    color: var(--color-bg-white);
  }
}

.ds-block {
  display: block;
}/*# sourceMappingURL=blog.css.map */