@use "../root/root.css";

main{
    position: relative;
    background-color: var(--color-bg-white);
    color: var(--color-bg-black);
    font-family: var(--font-family-ja);
    padding-top: 160px;
}

.course{
    width: 100%;
    margin-inline: auto;
    padding-top: 40px;
    // border-bottom: 1px solid var(--color-bg-black);

    &__title{
        font-size: var(--font-size-m);
        font-family: var(--font-family-en);
    }

    &-contents{
        width: 100%;
        padding-top: 60px;

        @media screen and (max-width:768px) {
            width: 100%;
            padding-top: 40px;
        }
        // padding-bottom: 60px;

        &__list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }

        &__item{
            width: 330px;
            color: var(--color-bg-black);
            // background-color: var(--color-white);
            // box-shadow: 0px 0px 40px rgba(133, 133, 133, 0.7);
            // border-radius: 16px;
        }

        &__link{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__title{
            margin-left: 8px;
            font-size: var(--font-size-s);
        }

        &__thumbnail{
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

.blog{
    padding: 120px 0;

    &__title{
        font-size: var(--font-size-m);
        font-family: var(--font-family-en);
    }

    &__container{
        width: 100%;
    }

    &-nav{
        width: 100%;
        padding-top: 60px;

        @media screen and (max-width:768px) {
            width: 100%;
            padding-top: 40px;
        }

        &__list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            // justify-content: center;
            gap: 16px 24px;

            @media screen and (max-width:768px) {
                // width: 100%;
                // flex-wrap: nowrap;
                justify-content: center;
                gap: 8px;
            }
        }

        &__link{
            display: block;
            padding: 8px 16px;
            color: var(--color-bg-black);
            border: 2px solid var(--color-bg-black);
            border-radius: 100px;
            @media screen and (max-width:768px) {
                font-size: var(--font-size-xs);
                padding: 6px;
                border: 1px solid var(--color-bg-black);
            }
        }
    }

    &-contents{
        width: 100%;
        padding-top: 40px;
        @media screen and (max-width:768px) {
            width: 100%;
            padding-top: 24px;
        }

        &__list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }

        &__item{
            width: calc((100% - 120px) / 4);
            margin-top: 40px;

            @media screen and (max-width:1024px) {
                width: calc((100% - 80px) / 3);
                margin-top: 40px;
            }
            @media screen and (max-width:768px) {
                width: 100%;
                margin-top: 24px;
            }
        }

        &__link{
            display: flex;
            flex-direction: column;
        }

        &__thumbnail{
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }

        &__title{
            margin-top: 16px;
            line-height: 1.4;
            font-size: var(--font-size-s);

            @media screen and (max-width:768px) {
                width: 100%;
                margin-top: 16px;
            }
        }

        &__tags{
            margin-top: 16px;
            display: flex;
            gap: 8px;
            color: #8a8a8a;
            font-size: var(--font-size-xs);

            @media screen and (max-width:768px) {
                width: 100%;
                margin-top: 8px;
            }
        }

        &__tag{
            padding: 4px 8px;
            border: 1px solid #8a8a8a;
            border-radius: 8px;
        }

        &__time{
            display: block;
            margin-top: 8px;
            color: #8a8a8a;
            text-align: right;
            font-size: var(--font-size-xs);
        }
    }
    
}

.active{
    &-blog{
        &-nav{
            animation: blog-nav-active .3s forwards;
            @keyframes blog-nav-active {
                0%{
                    color: var(--color-bg-black);             
                }
                100%{
                    color: var(--color-white);
                    background-color: var(--color-bg-black);
                }
            }
        }
    }
}