@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-gray: #8A8A8A;
  --color-link: #4b8ec5;
  --color-bg-white: #f3f3f3;
  --color-bg-black: #252528;
  --color-hamori: #7E62EC;
  --color-hov-black: #48484b;
  --color-hov-hamori: #8c77e1;
  --font-size-xxs: 10px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-ms: 20px;
  --font-size-m: 24px;
  --font-size-ml: 32px;
  --font-size-l: 40px;
  --font-size-xl: 60px;
  --font-size-xxl: 100px;
  --font-family-ja: "Noto Sans JP", sans-serif;
  --font-family-en: "Dela Gothic One", cursive;
} 
main {
  background-color: var(--color-bg-white);
  color: var(--color-bg-black);
  font-family: var(--font-family-ja);
  padding-top: 140px;
  overflow: inherit;
}

.header__logo {
  font-family: var(--font-family-ja);
}

.article {
  position: relative;
  width: 100%;
  padding-bottom: 80px;
}
.article-main {
  width: calc(100% - 320px);
  height: auto;
}
@media screen and (max-width: 992px) {
  .article-main {
    width: 100%;
  }
}
.article__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.article__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid var(--color-bg-black);
}
.article__data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #8a8a8a;
  font-size: var(--font-size-xs);
}
@media screen and (max-width: 768px) {
  .article__data {
    font-size: var(--font-size-xxs);
  }
}
.article__publish, .article__updated {
  text-align: right;
}
.article__updated {
  margin-top: 8px;
}
.article__title {
  margin-top: 40px;
  line-height: 1.4;
  font-size: var(--font-size-ml);
}
@media screen and (max-width: 768px) {
  .article__title {
    margin-top: 24px;
    font-size: var(--font-size-ms);
  }
}
.article__intro {
  margin-top: 24px;
  line-height: 2;
  color: #393939;
}
@media screen and (max-width: 768px) {
  .article__intro {
    font-size: var(--font-size-xs);
  }
}
.article__text {
  margin-top: 80px;
  line-height: 2;
  color: #393939;
}
@media screen and (max-width: 768px) {
  .article__text {
    margin-top: 64px;
  }
}
.article__text > h2 {
  margin-top: 64px;
  padding: 16px 24px;
  color: var(--color-white);
  background-color: var(--color-bg-black);
  font-size: var(--font-size-ml);
  border-radius: 4px;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
@media screen and (max-width: 768px) {
  .article__text > h2 {
    font-size: var(--font-size-m);
  }
}
.article__text > h3 {
  margin-top: 40px;
  font-size: var(--font-size-ms);
  border-bottom: 1px solid var(--color-bg-black);
}
.article__text > p {
  margin-top: 40px;
  padding: 0 8px;
  font-size: var(--font-size-s);
}
@media screen and (max-width: 768px) {
  .article__text > p {
    margin-top: 24px;
    padding: 0 4px;
    font-size: var(--font-size-xs);
  }
}
.article__text > p > a {
  display: inline-block;
  padding-bottom: 4px;
  color: var(--color-link);
  font-size: var(--font-size-xs);
  line-height: 1;
}
.article__text > figure {
  width: 100%;
  margin-top: 24px;
  padding: 0 8px;
  aspect-ratio: 16/9;
}
@media screen and (max-width: 768px) {
  .article__text > figure {
    margin-top: 16px;
    padding: 0 4px;
  }
}
.article__text > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__text > blockquote {
  position: relative;
  margin-top: 24px;
  padding: 48px 24px 24px;
  background-color: #e9e9e9;
}
.article__text > blockquote::after {
  content: "引用";
  position: absolute;
  top: 24px;
  left: 24px;
  color: var(--color-gray);
  font-size: var(--font-size-xxs);
}
.article__text > blockquote > p {
  font-size: var(--font-size-s);
}
@media screen and (max-width: 768px) {
  .article__text > blockquote > p {
    font-size: var(--font-size-xs);
  }
}
.article__text > blockquote > p:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px dotted var(--color-bg-black);
}
@media screen and (max-width: 768px) {
  .article__text > blockquote > p:first-of-type {
    padding-bottom: 8px;
  }
}
.article__text > blockquote > p:nth-of-type(2) {
  margin-top: 16px;
  font-size: var(--font-size-xxs);
}
@media screen and (max-width: 768px) {
  .article__text > blockquote > p:nth-of-type(2) {
    margin-top: 8px;
  }
}
.article__text > blockquote > p > a {
  width: 100%;
  display: block;
  overflow: hidden;
  color: var(--color-link);
}
.article-aside {
  width: 280px;
}
@media screen and (max-width: 992px) {
  .article-aside {
    display: none;
  }
}
.article-aside__inner {
  height: 100%;
}
.article-aside__container {
  position: sticky;
  top: 140px;
  left: 0;
  min-height: auto;
  padding: 24px;
  border: 1px solid var(--color-bg-black);
}
.article-aside__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
.article-aside__link {
  width: auto;
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid #8a8a8a;
  color: #8a8a8a;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.article-aside__link--in {
  animation: aside_link_in 0.3s forwards;
}
@keyframes aside_link_in {
  0% {
    color: #8a8a8a;
  }
  100% {
    color: var(--color-bg-black);
    transform: scale(1.01);
  }
}
.article-aside__link--out {
  animation: aside_link_out 0.3s forwards;
}
@keyframes aside_link_out {
  0% {
    color: var(--color-bg-black);
  }
  100% {
    color: #8a8a8a;
  }
}
.article-aside__link--active {
  animation: aside_link_active 0.3s forwards;
}
@keyframes aside_link_active {
  0% {
    color: var(--color-bg-black);
  }
  100% {
    color: var(--color-hamori);
  }
}

.blog {
  color: var(--color-white);
  background-color: var(--color-bg-black);
}
.blog-contents {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .blog-contents {
    width: 100%;
    padding-top: 80px;
  }
}/*# sourceMappingURL=blogid.css.map */