@use "../root/root.css";

main{
    position: relative;
    background-color: var(--color-bg-white);
    color: var(--color-bg-black);
    font-family: var(--font-family-ja);
    padding-top: 140px;
}

.article{
    position: relative;
    width: 100%;
    padding-bottom: 80px;

    &-main{
        width: calc(100% - 340px);

        @media screen and (max-width:992px) {
            width: 100%;
        }
    }

    &__container{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__thumbnail{
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border: 1px solid var(--color-bg-black);
    }

    &__data{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        color: #8a8a8a;
        font-size: var(--font-size-xs);
        @media screen and (max-width:768px) {
            font-size: var(--font-size-xxs);
        }
    }

    &__publish, &__updated{
        text-align: right;
    }

    &__updated{
        margin-top: 8px;
    }

    &__title{
        margin-top: 40px;
        line-height: 1.4;
        font-size: var(--font-size-ml);

        @media screen and (max-width:768px) {
            margin-top: 24px;
            font-size: var(--font-size-ms);
        }
    }

    &__intro{
        margin-top: 24px;
        line-height: 2;
        color: #393939;

        @media screen and (max-width:768px) {
            font-size: var(--font-size-xs);
        }
    }

    &__text{
        margin-top: 80px;
        line-height: 2;
        color: #393939;

        @media screen and (max-width:768px) {
            margin-top: 64px;
        }

        > h2{
            margin-top: 64px;
            padding: 16px 24px;
            color: var(--color-white);
            background-color: var(--color-bg-black);
            font-size: var(--font-size-ml);
            border-radius: 4px;

            @media screen and (max-width:768px) {
                margin-top: 40px;
                font-size: var(--font-size-m);
            }
        }
        > p{
            margin-top: 24px;
            padding: 0 8px;
            font-size: var(--font-size-s);
            @media screen and (max-width:768px) {
                margin-top: 16px;
                padding: 0 4px;
                font-size: var(--font-size-xs);
            }
        }
        >figure{
            width: 100%;
            margin-top: 24px;
            padding: 24px;
            background-color: #e9e9e9;
            aspect-ratio: 16/9;
            @media screen and (max-width:768px) {
                margin-top: 16px;
            }

            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-aside{
        width: 300px;
        height: 100%;

        @media screen and (max-width:992px) {
            display: none;
        }

        &__inner{
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;
            max-height: calc(100vh - 50px);
            border: 1px solid var(--color-bg-black);
        }
    }
}

.blog{
    color: var(--color-white);
    background-color: var(--color-bg-black);

    &-contents{
        width: 100%;
        padding-top: 120px;
        padding-bottom: 40px;

        @media screen and (max-width:992px) {
            width: 100%;
            padding-top: 80px;
        }
    }
}