---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---
<Layout/>

<main>
	<h1 class="title">TaT - Portfolio</h1>
	<h2 class="sub-heading">about</h2>
</main>