---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';
import BlogList from '../components/blogList.astro';
import '../css/blog/anim-blog.css'
import '../css/blog/blog.css'
---

<Layout
    title="ブログ"
    ogptitle="TaT-Blog | UI/UXデザインやWebデザイン、ユーザビリティやアクセシビリティ、実装まわりなど、デザインついて学んでいる学生によるブログサイトです。" 
    type="website"
    description="TaT-Blog | UI/UXデザインやWebデザイン、ユーザビリティやアクセシビリティ、実装まわりなど、デザインついて学んでいる学生によるブログサイトです。"
/>

<nav class="pan">
    <ol class="pan-list">
        <li class="pan-list__item">
            <a href="https://tat-design22444.com/" class="pan-list__link">トップ</a>
        </li>
        <li class="pan-list__item">
            ブログ一覧
        </li>
    </ol>
</nav>

<main>
    <div class="top">
        <div class="top__wrapper">
            <h1 class="top__title">
                TaT-Blog
                <span class="top__sub-title">
                    UI/UXデザイン / デザイナー就活 / ポートフォリオ / webサイト制作 / Figma / フロントエンド
                </span>
            </h1>
        </div>
    </div>

    <article class="course">
        <div class="inner inner--course">
            <h2 class="course__title">Course</h2>
            <h3 class="course__sub-title"></h3>
            <section class="course-contents">
                <ul class="course-contents__list">
                    <li class="course-contents__item">
                        coming soon ...
                    </li>
                </ul>
            </section>
        </div>
    </article>
    
    <article class="blog">
        <div class="inner inner-blog">
            <h2 class="blog__title">Blog</h2>
            <h3 class="blog__sub-title"></h3>
            <section class="blog__container">
                <nav class="blog-nav">
                    <ul class="blog-nav__list" id="js-blog-nav-list">
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn active-blog-nav" id="js-blog-nav-btn">All</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">仕様書</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">ポートフォリオ</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">デザイナー就活</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">About me</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">Figma</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">UI/UX</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">Webデザイン</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">アプリデザイン</a>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">HTML/CSS</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">Javascript</button>
                        </li>
                        <li class="blog-nav__item" id="js-blog-nav-item">
                            <button type="button" class="blog-nav__btn out-blog-nav" id="js-blog-nav-btn">デザインシステム</button>
                        </li>
                    </ul>
                </nav>
                <div class="blog-contents">
                    <BlogList />
                </div>
            </section>
        </div>
    </article>

</main>

<Footer />

<script>
    const blog_nav_btns = document.querySelectorAll('#js-blog-nav-btn')
    blog_nav_btns.forEach((target_nav_btn)=>{
        target_nav_btn.addEventListener('click', ()=>{
            blog_nav_btns.forEach((all_nav_btn)=>{
                all_nav_btn.classList.remove('active-blog-nav');
                all_nav_btn.classList.add('out-blog-nav');
            })
            target_nav_btn.classList.remove('out-blog-nav');
            target_nav_btn.classList.add('active-blog-nav');
        })
        document.querySelectorAll('#js-blog-area').forEach((blog_tag_area)=>{
            blog_tag_area.querySelectorAll('#js-blog-tag-text').forEach((blog_tag_text)=>{
                const target_nav_btn_text = target_nav_btn.textContent
                target_nav_btn.addEventListener('click', ()=>{
                    if (blog_tag_text.textContent.indexOf(target_nav_btn_text)!= -1 || target_nav_btn_text.indexOf('All')!= -1) {
                        blog_tag_area.classList.add("ds-block")
                        blog_tag_area.classList.remove("ds-none")
                    } else {
                        blog_tag_area.classList.remove("ds-block")
                        blog_tag_area.classList.add("ds-none")
                    }
                })
            })
        })
    })
</script>

