---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';
import '../css/contact/anim-contact.css'
import '../css/contact/contact.css'
---
<Layout 
    title="お問い合わせ" 
    ogptitle="TaT-contact | webサイトのデザインも拘りたいけど安く、速くwebサイトが欲しいという方はお任せください。" 
    type="website"
    description="webデザインでは、見た目や使い心地だけではなく、マーケティングの観点から見ても「いいwebサイト」のデザインを心がけています。デザインから実装まで1人で行うのでwebサイトを安く速く制作すrことができます。"
 />
 <main>
    <article class="article">
        <div class="inner inner--article">
            <ul class="article-list">
                <li class="article-list__item">
                    <img class="article-list__img" src="../../icon/blog.svg" alt="TaT-Blogにブログ記事を書いてみたい学生のアイコン">
                    <h1 class="article-list__text">TaT-Blogにブログ記事を書いてみたい学生</h1>
                </li>
                <li class="article-list__item">
                    <img class="article-list__img" src="../../icon/website.svg" alt="Webサイト制作を依頼したい方のアイコン">
                    <h1 class="article-list__text">Webサイト制作を依頼したい方</h1>
                </li>
                <li class="article-list__item">
                    <img class="article-list__img" src="../../icon/talk.svg" alt="相原立弥とUI/UXやwebサイト、就活など、話をしたいと思ってくださった方">
                    <h1 class="article-list__text">話をしたいと思ってくださった方</h1>
                </li>
            </ul>
            <h2 class="article-text">ぜひ、お問い合わせください！</h2>
        </div>
    </article>

    <form class="form" name="contact" method="POST" data-netlify="true">
        <div class="inner inner--form">
            <p class="form__name">
                <label>お名前: <input type="text" name="name" placeholder="相原立弥" /></label>
              </p>
              <p class="form__mail">
                <label>メールアドレス: <input type="email" name="email" placeholder="info@example.com" /></label>
              </p>
              <p class="form__purpose">
                  <label>内容: 
                      <select class="form__select" name="role[]" multiple>
                          <option value="blog">TaT-Blogに記事を書きたい</option>
                          <option value="webDesign">Webサイトのデザインのみを依頼したい</option>
                          <option value="webAll">Webサイト制作全体の依頼をしたい</option>
                          <option value="interview">お話をしたい</option>
                          <option value="others">その他</option>
                      </select>
                  </label>
              </p>
              <p class="form__text">
                <label>メッセージ本文: <textarea name="message" placeholder="ご依頼の詳細や質問など、気軽にご記入ください。"></textarea></label>
              </p>
              <p class="form__submit">
                <button type="submit">送信</button>
              </p>
        </div>
	</form>
 </main>

 <Footer />