---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import '../css/top/style.css'
---

<Layout title="portfolio-site"/>
<main>
	<div class="hero">
        <div class="inner inner--hero">
            <!-- <div class="hero__container"> -->
            <div class="hero__images">
                <div class="hero__image hero__image-item1">
                    <img src="public/images/me.JPG" alt="相原立弥の写真">
                </div>                        
				<div class="hero__image hero__image-item2">
                    <img src="public/images/me.JPG" alt="相原立弥の写真">
                </div>
                <div class="hero__image hero__image-item3">
                    <img src="public/images/me.JPG" alt="相原立弥の写真">
                </div>
            </div>
			<h1 class="hero-text">
			    <span class="hero__title anim-hero__title">TaT ー Portfolio</span>
				<span class="hero__border anim-hero__border" id="js-hero__border"></span>
				<span class="hero__subtitle anim-hero__subtitle">Design & coding</span>
			</h1>
         </div>
    </div>

	<div class="scrolldown">
        <div class="inner inner--scrolldown">
            <p class="scrolldown__scroll anim-fadein-scroll">SCROLL DOWN</p>
            <span class="scrolldown__line anim-fadein-scroll anim-scrolldown" id="js-scrolldown"></span>
            <p class="scrolldown__thankyou">Thank you!</p>
        </div>
    </div>
</main>

<style>
	
</style>
