---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';
import '../css/inner/inner.css'
import '../css/piano/anim-piano.css'
import '../css/piano/piano.css'
---
<Layout title="piano" />

<main>
    <div class="music">
        <div class="inner inner-music">
            <div class="music__container">
                <ul class="music-list">
                    <li class="music-list__item">
                        <p class="music-list__title">千本桜</p>
                        <figure class="music-list__fig">
                            <img src="../../public/images/me.JPG" alt="">
                        </figure>
                    </li>
                    <li class="music-list__item">
                        <p class="music-list__title">千本桜</p>
                        <figure class="music-list__fig">
                            <img src="../../public/images/me.JPG" alt="">
                        </figure>
                    </li>
                    <li class="music-list__item">
                        <p class="music-list__title font-size--ml">千本桜</p>
                        <figure class="music-list__fig">
                            <img src="../../public/images/me.JPG" alt="">
                        </figure>
                    </li>
                    <li class="music-list__item">
                        <p class="music-list__title">千本桜</p>
                        <figure class="music-list__fig">
                            <img src="../../public/images/me.JPG" alt="">
                        </figure>
                    </li>
                    <li class="music-list__item">
                        <p class="music-list__title">千本桜</p>
                        <figure class="music-list__fig">
                            <img src="../../public/images/me.JPG" alt="">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

<Footer />