---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';
import '../css/inner/inner.css'
import '../css/piano/anim-piano.css'
import '../css/piano/piano.css'
---
<Layout title="piano" />

<main>
    
</main>

<Footer />