---
interface Props {
	text: string;
    href: string;
}

const { text, href} = Astro.props;

import '../css/root/root.css'
import '../css/layouts/anim-layout.css'
---

<div class="alert ds-none" id="js-alert">
    <div class="alert__back" id="js-alert-back"></div>
    <div class="alert__inner">
        <div class="alert__body">
            <p class="alert__text">{text}</p>
            <div class="alert__btn-wrapper">
                <button class="alert-button alert-button--yes">
                    <a href={href} class="alert-button__link">はい</a>
                </button>
                <button class="alert-button alert-button--no" id="js-alert-no">
                    いいえ
                </button>
            </div>
        </div>
        <button class="alert-close" id="js-alert-close">
            <span class="alert-close__elem alert-close__elem--left"></span>
            <span class="alert-close__elem alert-close__elem--right"></span>
        </button>
    </div>
</div>

<style lang="scss">
    .alert{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 92;

    @media screen and (min-width:768px) {
        display: none;
    }

    &__back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-black);
        opacity: .8;
    }

    &__inner{
        position: relative;
        left: 50%;
        top: 60%;
        transform: translateY(-50%) translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;
        font-family: var(--font-family-ja);
        z-index: 94;
    }

    &__body{
        width: 100%;
        padding: 40px 24px 24px;
        color: var(--color-bg-black);
        background-color: var(--color-bg-white);
        box-shadow: 0 0 10px rgba($color: #252528, $alpha: .7);
        border-radius: 16px;
        text-align: center;
        z-index: 2;
    }

    &__btn-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 24px;
    }

    &-button{
        width: 30vw;
        padding: 16px 0;
        border-radius: 30px;
        border: 1px solid var(--color-bg-black);

        &--yes{
            color: var(--color-white);
            background-color: var(--color-bg-black);
        }
    }

    &-close{
        display: block;
        width: 36px;
        height: 36px;
        margin-top: 16px;
        background-color: var(--color-bg-white);
        border-radius: 50px;
        z-index: 2;

        &__elem{
            position: relative;
            display: block;
            width: 20px;
            height: 2px;
            background-color: var(--color-bg-black);
            border-radius: 8px;
            
            &--left{
                left: 50%;
                transform: translateY(50%) translateX(-50%) rotate(-45deg);
            }
            &--right{
                left: 50%;
                transform: translateY(-30%) translateX(-50%) rotate(45deg);
            }
        }
    }
}
</style>

<script>
    document.querySelectorAll('#js-alert').forEach((alert_area)=>{
        const alert_no = alert_area.querySelector('#js-alert-no')
        const alert_close = alert_area.querySelector('#js-alert-close')
        const alert_back = alert_area.querySelector('#js-alert-back')
        alert_no.addEventListener('click', ()=>{
            alert_area.classList.add('ds-none')
            alert_back.classList.add('ds-none')
            alert_area.classList.remove('ds-block')
            alert_back.classList.remove('ds-block')
        })
        alert_close.addEventListener('click', ()=>{
            alert_area.classList.add('ds-none')
            alert_back.classList.add('ds-none')
            alert_area.classList.remove('ds-block')
            alert_back.classList.remove('ds-block')
        })
        alert_back.addEventListener('click', ()=>{
            alert_area.classList.add('ds-none')
            alert_back.classList.add('ds-none')
            alert_area.classList.remove('ds-block')
            alert_back.classList.remove('ds-block')
        })
    })
</script>