---
// interface Props {
// 	text: string;
//     href: string;
// }

// const { text, href} = Astro.props;

import Mordal_back from '../components/mordal-back.astro';
import '../css/root/root.css'
import '../css/layouts/anim-layout.css'
---

<div class="alert ds-out" id="js-alert">
    <Mordal_back/>
    <div class="alert__inner">
        <div class="alert__body">
            <p class="alert__text" id="js-alert-text"></p>
            <div class="alert__btn-wrapper">
                <button class="alert-button alert-button--yes" id="js-alert-yes">
                    <a class="alert-button__link" id="js-alert-link">はい</a>
                </button>
                <button class="alert-button alert-button--no" id="js-alert-no">
                    いいえ
                </button>
            </div>
        </div>
        <button class="alert-close" id="js-alert-close">
            <span class="alert-close__elem alert-close__elem--left"></span>
            <span class="alert-close__elem alert-close__elem--right"></span>
        </button>
    </div>
</div>

<style lang="scss">
    .alert{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 90;

    @media screen and (min-width:768px) {
        display: none;
    }

    // &__back{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: var(--color-bg-black);
    //     opacity: .8;
    // }

    &__inner{
        position: relative;
        left: 50%;
        top: 60%;
        transform: translateY(-50%) translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;
        font-family: var(--font-family-ja);
        z-index: 92;
    }

    &__body{
        width: 100%;
        padding: 40px 24px 24px;
        color: var(--color-bg-black);
        background-color: var(--color-bg-white);
        box-shadow: 0 0 10px rgba($color: #252528, $alpha: .7);
        border-radius: 16px;
        text-align: center;
        z-index: 2;
    }

    &__btn-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 24px;
    }

    &-button{
        width: 30vw;
        height: 100%;
        border-radius: 30px;
        border: 1px solid var(--color-bg-black);

        &__link{
            width: 100%;
            height: 100%;
            padding: 16px 0;
            border-radius: 30px;
            display: block;
        }

        &--yes{
            color: var(--color-white);
            background-color: var(--color-bg-black);
        }

        &--no{
            padding: 16px 0;
        }
    }

    &-close{
        display: block;
        width: 36px;
        height: 36px;
        margin-top: 16px;
        background-color: var(--color-bg-white);
        border-radius: 50px;
        z-index: 2;

        &__elem{
            position: relative;
            display: block;
            width: 20px;
            height: 2px;
            background-color: var(--color-bg-black);
            border-radius: 8px;
            
            &--left{
                left: 50%;
                transform: translateY(50%) translateX(-50%) rotate(-45deg);
            }
            &--right{
                left: 50%;
                transform: translateY(-30%) translateX(-50%) rotate(45deg);
            }
        }
    }
}

.anim{
    &-alert{
        &-link{
            &-in{
                animation: alert-link-in .3s forwards;
                @keyframes alert-link-in {
                    0%{
                        background-color: var(--color-bg-black);
                    }
                    100%{
                        background-color: var(--color-hov-black);
                    }
                }
            }
            &-out{
                animation: alert-link-out .3s forwards;
                @keyframes alert-link-out {
                    0%{
                        background-color: var(--color-hov-black);
                    }
                    100%{
                        background-color: var(--color-bg-black);
                    }
                }
            }
        }
    }
}

.ds-out{
    display: none;
}
.ds-in{
    display: block;
}
</style>

<script>
    document.querySelectorAll('#js-alert').forEach((alert_area)=>{
        const alert_close = alert_area.querySelector('#js-alert-close')
        const mordal_back = document.getElementById('js-mordal-back')
        const alert_link = alert_area.querySelector('#js-alert-link')
        const alert_yes = alert_area.querySelector('#js-alert-yes')
        const alert_no = alert_area.querySelector('#js-alert-no')
        alert_link.addEventListener('click', ()=>{
            alert_yes.classList.add('anim-alert-link-in')
        })
        alert_no.addEventListener('click', ()=>{
            alert_area.classList.add('ds-out')
            mordal_back.classList.add('ds-out')
            alert_area.classList.remove('ds-in')
            mordal_back.classList.remove('ds-in')
            // alert_link.outerHTML = '<a href="/" class="alert-button__link" id="js-alert-link">はい</a>'
        })
        alert_close.addEventListener('click', ()=>{
            alert_area.classList.add('ds-out')
            mordal_back.classList.add('ds-out')
            alert_area.classList.remove('ds-in')
            mordal_back.classList.remove('ds-in')
            // alert_link.outerHTML = '<a href="/" class="alert-button__link" id="js-alert-link">はい</a>'
        })
    })
</script>