---
import { getBlogs, getTags } from '../library/microcms'
const response = await getBlogs({ fields: ["id", "title", "image", "tags", "publishedAt", "name"] })

import '../css/root/root.css'
---

<ul class="blog-contents__list">
    {response.contents.map((content => 
        <li class="blog-contents__item" id="js-blog__item">
            <a class="blog-contents__link" href={"../"+content.id}>
                <img class="blog-contents__thumbnail" id="js-blog__img" src={content.image.url} alt="" />
                <h3 class="blog-contents__title">{content.title}</h3>
                <ul class="blog-contents__tags">
                    <li class="blog-contents__tag">
                        <p class="blog-contents__tag-link">{content.tags}</p>
                    </li>
                </ul>
                <div class="blog-contents__wrapper">
                    <p class="blog-contents__name">{content.name}</p>
                    <time class="blog-contents__time">{content.publishedAt.substring(0, 10)}</time>
                </div>
            </a>
        </li>
    ))}
</ul>

<style lang="scss">
    .blog{
        &-contents{
            &__list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            @media screen and (max-width:768px) {
                gap: 24px;
            }
        }

        &__item{
            width: calc((100% - 100px) / 4);
            z-index: 3;
            // margin-top: 40px;

            @media screen and (max-width:1024px) {
                width: calc((100% - 75px) / 3);
                // margin-top: 40px;
            }
            @media screen and (max-width:768px) {
                width: 100%;
                // margin-top: 24px;
                border: 1px solid #8a8a8a;
                border-radius: 9px;
            }
        }

        // &__link{
        //     display: flex;
        //     flex-direction: column;
        // }

        &__thumbnail{
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-bottom: 1px solid var(--color-bg-white);
            z-index: 2;
            @media screen and (max-width:768px) {
                border-radius: 8px 8px 0 0;
            }

            &:hover{
                border-bottom: none;
            }
        }

        &__title{
            margin-top: 16px;
            line-height: 1.4;
            font-size: var(--font-size-s);

            @media screen and (max-width:768px) {
                width: 100%;
                margin-top: 16px;
                padding: 0 16px;
            }
        }

        &__tags{
            margin-top: 16px;
            display: flex;
            gap: 8px;
            font-size: var(--font-size-xxs);
            color: #8a8a8a;

            @media screen and (max-width:768px) {
                width: 100%;
                margin-top: 16px;
                padding: 0 16px;
                font-size: var(--font-size-xxs);
            }
        }

        &__tag-link{
            display: block;
            padding: 4px 8px;
            border: 1px solid #8a8a8a;
            border-radius: 8px;

            @media screen and (max-width:768px) {
                padding: 8px;
                border-radius: 4px;
            }
        }

        &__wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            padding: 0 0 16px;
            color: #8a8a8a;
            font-size: var(--font-size-xs);

            @media screen and (max-width:768px) {
                margin-top: 16px;
                padding: 0 16px 16px;
                font-size: var(--font-size-xxs);
            }
        }

        }
    }
.active{
    &-blog{
        &-nav{
            animation: blog-nav-active .3s forwards;
            @keyframes blog-nav-active {
                0%{
                    color: var(--color-bg-white);             
                }
                100%{
                    color: var(--color-bg-black);
                    background-color: var(--color-bg-white);
                    border: none;
                }
            }
        }
    }
}

.anim{
        &-blog{
            &__img-up{
                animation: img-up 10s forwards;
                @keyframes img-up {
                    0%{
                        transform: scale(1);
                    }
                    10%{
                        transform: scale(1.05);
                        border-radius: 16px;
                    }
                    100%{
                        transform: scale(1.5);
                        border-radius: 400px;
                    }
                }
            }
            &__img-down{
                animation: img-down .2s forwards;
                @keyframes img-down {
                    0%{
                        transform: scale(1.2);
                        border-radius: 200px;
                    }
                    100%{
                        transform: scale(1);
                        border-radius: 0;
                    }
                }
            }
        }
    }
</style>

<script>
    window.addEventListener('mouseover', ()=>{
        document.querySelectorAll('#js-blog__item').forEach((blog_item)=>{
            const blog_img = blog_item.querySelector('#js-blog__img')
            blog_item.addEventListener('mouseover', ()=>{
                blog_img.classList.add('anim-blog__img-up')
                blog_img.classList.remove('anim-blog__img-down')
            })
            blog_item.addEventListener('mouseleave', ()=>{
                blog_img.classList.remove('anim-blog__img-up')
                blog_img.classList.add('anim-blog__img-down')
            })
        })
    })
</script>