---
interface Props {
	title: string;
    href: string;
	category: string;
}

const { title, href, category } = Astro.props;

import '../css/root/root.css'

---

<a href={href} class="download" download>
    <img class="download__icon" src="../icon/download.png" alt="">
    <div class="download__name">
        <p class="download__title">{title}</p>
        <p class="download__dot">.</p>
        <p class="download__category">{category}</p>
    </div>
</a>

<style lang="scss">
    .download{
        position: fixed;
        bottom: 40px;
        right: 24px;
        z-index: 99;
        padding: 14px;
        border-radius: 200px;
        background-color: var(--color-bg-black);

    @media screen and (min-width:768px) {
        position: relative;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 16px;
        z-index: 99;
        margin-left: auto;
        padding: 8px 16px;
        color: var(--color-white);
        background-color: var(--color-bg-black);
        border-radius: 4px;
        font-size: var(--font-sizexs);
        font-family: var(--font-family-en);
    }

    &__icon{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 18px;

        @media screen and (min-width:768px) {
            width: 18px;
            border-radius: 0;
        }
    }

    &__name{
        display: none;
        
        @media screen and (min-width:768px) {
            display: flex;
            align-items: baseline;
            gap: 4px;
        }
    }

    &__title, &__category{
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            padding: 4px 8px;
            color: var(--color-bg-black);
            background-color: var(--color-bg-white);
            border-radius: 4px;
        }
    }
}
</style>