---
interface Props {
	title: string;
    href: string;
	category: string;
}

const { title, href, category } = Astro.props;

import '../css/root/root.css'

---

<a href={href} class="download" download>
    <img class="download__icon" src="/icon/download.png" alt="">
    <div class="download__name">
        <p class="download__title">{title}</p>
        <p class="download__dot">.</p>
        <p class="download__category">{category}</p>
    </div>
</a>

<style lang="scss">
    .download{
        position: relative;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 16px;
        z-index: 99;
        margin-left: auto;
        padding: 8px 16px;
        color: var(--color-bg-black);
        border: 1px solid var(--color-bg-black);
        border-radius: 30px;
        font-size: var(--font-sizexs);
        font-family: var(--font-family-en);
        transition: all .2s;

    @media screen and (max-width:768px) {
        position: fixed;
        bottom: 40px;
        right: 24px;
        z-index: 99;
        padding: 14px;
        color: var(--color-bg-black);
        background-color: var(--color-bg-black);
        border: none;
        border-radius: 100%;
        transition: all .2s;
    }

    &:hover{
        transition: all .2s;
        color: var(--color-hov-hamori);
        background-color: var(--color-hov-hamori);
    }

    &__icon{
        position: relative;
        width: 18px; 

        @media screen and (min-width:768px) {
            width: 18px;
            border-radius: 0;
        }
    }

    &__name{
        display: none;
        
        @media screen and (min-width:768px) {
            display: flex;
            align-items: baseline;
            gap: 4px;
        }
    }

    &__dot{
        color: var(--color-bg-white);
    }

    &__title, &__category{
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            padding: 4px 8px;
            // color: var(--color-bg-black);
            background-color: var(--color-bg-white);
            border-radius: 16px;
        }
    }
}
</style>