---
import '../css/root/root.css'
---

<div class="mordal-back" id="js-mordal-back"></div>

<style lang="scss">
.mordal-back{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--color-bg-black);
    opacity: .7;
    z-index: 92;
}
</style>