.pan{
    position: absolute;
    top: 104px;
    padding: 0 4vw;
    color: var(--color-bg-black);
    font-family: var(--font-family-ja);
    font-size: var(--font-size-xs);
    font-weight: 400;
    z-index: 80;

    @media screen and (max-width:768px) {
        top: 80px;
        padding: 0 4vw;
        font-size: var(--font-size-xxs);
        font-weight: 300;
    }

    &-list{
        display: flex;
        align-items: center;
        gap: 8px;

        &__link{
            display: block;
            position: relative;
            color: var(--color-link);

            &::after{
                content: ">";
                padding-left: 8px;
            }
        }
    }
}